.header{
    display: flex;
    justify-content: center;
    height: 20rem;
    
       
    &__img{
        width: 33rem;
        height: 19rem;
        background-size: cover;
        background-image: url(../images/desarrolloweb2021t.svg);
        background-repeat: no-repeat;
        
        
    }
}
